@model List<CompanyBindingModel>

<h1>Companies list</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Company name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
            <tr>
               <td>@company.CompanyName</td>
            </tr>
        }

    </tbody>
</table>