@model CompanyBindingModel


    <div class="modal fade" id="company-modal" tabindex="-1" role="dialog" aria-hidden="true">
        @using (Ajax.BeginForm(Model.Action.ToString(), "Notification", null, new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "edit-employee-container",
            LoadingElementId = "master-loader",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "handleSuccess",
            OnFailure = "errorHandler",
            //OnComplete = "addNewGridRow"

        }, new { id = "notification-modal-form" }))
        {
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Company</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        }
    </div>

<script>
    $("#company-modal").modal()
</script>
