@model List<PersonBindingModel>
<div class="row">
    <h1 class="col-md-12 mt-4 mb-4">Customers</h1>
</div>

<div class="row">
    <div class="col-md-8 col-sm-6 mb-4">
            <button id="add-person-btn" class="btn btn-primary">Add customer</button>
            <button id="add-company-btn" class="btn btn-primary">Add company</button>
        </div>
        <div class="col-md-4 col-sm-6">
            <!--I can also implement client side search so no server side calls are not neaded -->
            <!--ajax customer search form -->
            @using (Ajax.BeginForm("Search", "Customers", null, new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "customersGrid",
                LoadingElementId = "master-loader",
                InsertionMode = InsertionMode.Replace,
            }, new { id = "person-modal-form" }))
            {
                <div class="input-group mb-2">
                    <input name="query" type="text" class="form-control" placeholder="Search customers">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            }
        </div>
    </div>
<div class="row">
    <div class="col-md-12">
        <h3>Customers list</h3>
    </div>
    <div class="col-md-12" id="customersGrid">
        @Html.Partial("_customersGrid", Model)
    </div>
</div>

<!-- placeholder for Add edit modal-->
<div id="add-customer-modal">

</div>

@section scripts
{
    <script src="~/Scripts/Customers/index.js"></script>
}
